---
layout: default
---


<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
<table border="0" width="100%">
    <tbody>
        <tr>
            <td valign ="top" width="200px">
                <img src="{{ site.url }}/assets/images/{{page.picture}}" style="width:200px">
                
            </td>
            <td valign ="top" width="10px">
                
            </td>
            <td valign="top" >
            
                 <h2> {{page.academictitle}} {{ page.name }} </h2>
                {{page.telefon}}
                <br>{{page.email}}
                <p></p>
                <h3>Academic career </h3>
                    
                    {% for item in page.cv %}
                    <p>
                    <div class="cv-date"> {{item.from}}-{{item.to}} </div> <br> {{item.position}} <br>
                    {{item.location}}
                    </p>
                    {% endfor %}
            </td>

        </tr>
    </tbody>
</table>



