---
layout: default
---

<table border="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
                 {{page.title}} <a class="post-link" href="{{ page.url | relative_url }}">{{ page.name | escape }}</a>
                <br>{{page.telefon}}
                <br>{{page.email}}
            </td>
            <td>
                <img src="{{ site.url }}/assets/images/{{page.picture}}" style="width:300px;height:400px;">
                
            </td>
        </tr>
    </tbody>
</table>



